<footer class="footer footer-mod pb-2 pt-2" id="contactme">
      <div class="content has-text-centered ">
        <p class="mb-0">
            <strong class="footer-links mr-6">
              <a class="icon-color" href="tel:206-280-2585">
                <i class="fas fa-phone fa-lg"></i>
              </a>
            </strong>
            <strong class="footer-links mr-6 ">
              <a class="icon-color" href="mailto:danielsoledad@gmail.com">
                <i class="far fa-envelope fa-lg"></i>
              </a>
            </strong>
            <strong class="footer-links mr-6">
              <a class="icon-color" href="https://github.com/Tuzosdaniel12" target="_blank">
                <i class="fab fa-github fa-lg"></i>
              </a>
            </strong>
            <strong class="footer-links">
              <a class="icon-color" href="https://www.linkedin.com/in/daniel-soledad-1834a61b3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8jusDrCiRMyQqnN8jT%2F05Q%3D%3D" target="_blank">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </strong>
        </p>
      </div>
    </footer>