@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vw;
    width: 100vw;
    font-family: 'Fredoka One', cursive;
}

.jumbrotron{
    height: 100vw;
    width: 100vw;  
}