html {
    scroll-behavior: smooth;
    width: 100%;
  }

body {
    font-family: 'Fredoka One', cursive;
    background-image: url("../images/seattle.jpg");
    object-fit:inherit;
    object-position: bottom center;
}
.custom-nav{
  background-color:black ;
  color: white;
}


.navbar-burger{
  height: 5rem;
  padding-right: 5px;
  background-color: black;
  color: white;
}

#navMenu{
  height: 5rem;
  background-color: black;
  color: white;
  height: 100%;
}

#navMenu div a:hover{
  background-color: rgb(253, 250, 250);
  color: black;
}
#navMenu div a:focus {
  background-color: rgb(253, 250, 250);
  color: black;
}

.custom-nav-menu a{
  color: white;
}

.flexing{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  #home{
    background-color: black
  }
  .home-div{
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  .css-typing p {
    border-right: .10em solid red;
    font-family: "Courier";
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 4s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 4s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 4s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(4) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 4s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid red;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid red;
    }
    100% {
      opacity: 1;
    }
  }
 
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
  .letter{
    color: red;
    font-weight: bolder;
  }
  .about-me-div{
      background-color: rgba(5, 5, 5,.8);
      border-radius: 1%; 
  }

  .work-example-card{
    background-color: rgba(5, 5, 5,.8);
  }

  #card-content-ratio{
    width: 100%;
    height: 25%;
    padding-top: 0;
  }


  /* .carousel_tracker_container{
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  .carousel-images {
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 3px 1px #ffffff;
    -moz-box-shadow: 0px 0px 3px 1px #ffffff;
    box-shadow: 0px 0px 3px 1px #f8f8f8; 
    width: 100%;
    object-fit:cover;
  }
  .button-container{
    position: fixed;
    color:#28e738;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #a559d4;
    height: 95%;
    width: 10%;
  }
  .button-container-right{
    right: 0;
    top: 0;
  } */
  .footer-mod{
    background-color: black;
      position: fixed;
      bottom: 0;
      width: 100%; 
  }

.icon-color {
  color: white;
}

.footer-mod a{
  background-color: rgba(5, 5, 5,.8);
}

  .hide{
    display: none ;
  }

  @media (min-width: 433px) {
    #card-content-ratio{
      height: 18%
    }
  }

  @media (min-width: 600px) {
    body {
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center top;
    }
      .about-me-div{
        background-color: rgba(5, 5, 5,.9);
      }

      .work-example-card{
        background-color: rgba(5, 5, 5,.9);
      }
      #card-content-ratio{
        height: 13%
      }
  }



  @media only screen and (min-width: 774px) {

    .about-me-div{
      position: fixed;
      width: min(1250px, 90%);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    #card-content-ratio{
      height: 18%
    }

  }


