html {
    scroll-behavior: smooth;
    width: 100%;
  }

body {
    font-family: 'Fredoka One', cursive;
    background-image: url("../images/seattle.jpg");
    object-fit:inherit;
    object-position: bottom center;
}

.flexing{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-burger{
      height: 5rem;
  }
  
  .about-me-div{
      background-color: rgba(5, 5, 5,.8);
      border-radius: 1%; 
  }

  .rounded{
      border-radius: 100%;
  }

  .carousel_tracker_container{
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel-images {
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 3px 1px #ffffff;
    -moz-box-shadow: 0px 0px 3px 1px #ffffff;
    box-shadow: 0px 0px 3px 1px #f8f8f8; 
    width: 100%;
    object-fit:cover;
  }
  .button-container{
    position: fixed;
    color:red;
    height: 95%;
    width: 10%;
  }
  .button-container-right{
    right: 0;
    top: 0;
  }
  .footer-mod{
      border-top: solid;
      border-width: thick;
      border-color: #454545;
      position: fixed;
      bottom: 0;
      width: 100%; 
  }

.icon-color {
  color: #454545;
}
  .hide{
    display: none ;
  }

  @media (min-width: 600px) {
    body {
      background-size: 100% 100%;
    }
      .about-me-div{
        background-color: rgba(5, 5, 5,.5);
      }
  }



  @media (min-width: 773px) {

    .about-me-div{
      position: fixed;
      width: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(5, 5, 5,.5);
    }

  }


  @media (min-width: 1000px) {
    body {
      background-size: 100% 100%;
  }

  }