 * {
    box-sizing: border-box;
  }
  :root{
    --color-mostly-used: #92CCCE;
    --header-color: #31343D;
    --h1-color:#31343D;
    --hundred-percent: 100%;
    --letsCenter: center;
    --hooverColor: #ad9c06;
    --main-background-color:#EEEEF7;
    --main-font-color: #445877;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin: auto;
    height: var(--hundred-percent);
    width: var(--hundred-percent);
    
  }
  /*----------START OF HEADER---------*/
  header{
      width: var(--hundred-percent);
      height: 10%;
      background-color: var(--header-color);
      display: flex;
      
  }
/*trying to match the rations of example of 
the website provided 2 to 5 ratio
is also going to center text vertically*/
  header section{
    flex:2 0;
    align-self: var(--letsCenter);
  }
  header section h1{
    background-color: var(--color-mostly-used);
    color: var(--h1-color);
    text-align: right;
    font-size: 3.5em;
    padding: 3.5% 3.5%;
  }
  header nav{
    flex: 6 0;
    align-self: var(--letsCenter);
  }

  /*inside nav i made ul parent for flex properties
  and is floating right, and center vertically
  the width is 55% because if i use 100% the nav 
  links would be spread evenly around the rest of header
   */
  .responsive-nav{
    float: right;
    width:55%;
    height: var(--hundred-percent);
    display: flex;
    align-content: var(--letsCenter);
  }

/*each nav is at 25% width so and grows evenly 
i can also just put width 25% but i want to 
focus and use flexbox*/
  .responsive-nav li{
    flex: 1 0 25%;
    height: var(--hundred-percent);
  }

  .responsive-nav li a{
    color: var(--color-mostly-used);
    font-size: 2em;
  }

  .responsive-nav li a:hover{
  color: var(--hooverColor);
}
/*----------END OF HEADER---------*/
/*----------START OF BANNER---------*/
/* this is adding a picture as my banner, it has flex
display because so i can move the quote inside where i want it 
to move*/
.banner {
  clear: both;
  height: 20%;
  width: var(--hundred-percent);
  background-image: url("../images/seattle.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}

/*set color of background and font of h2
margin/align self the quote right on the right bottom corner */
.banner h2{
  background-color: var(--color-mostly-used);
  color: var(--h1-color);
  align-self: flex-end;
  font-size: 2.5em;
  height: 20%;
  margin-right: 4%;
  margin-bottom: 2%;
}
/*----------END OF BANNER---------*/
/*----------START OF MAIN---------*/
/*setting the rest of the body to main and diving each 
column to 1:3:1 ratio, setting background 
and font colors too

*/
main{
  width: var(--hundred-percent);
  height: 74%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  padding-top: 1%;
}
main h1{
  font-size: 3.8em;
}

.aboutMe{
  width: var(--hundred-percent);
  height: 19%;
  padding-bottom: 1.5%;
}
.work{
  width: var(--hundred-percent);
  height: 65%;
  padding-bottom: 1.5%;
}

.contactMe{
  width: var(--hundred-percent);
  height: 12%;
}
/* this divides the inside of the three 
main section in to two ratio of 1 to 4, targets h1 tags , padding on bottoms 
as set font size and aligns h1 to the right*/

.main-body-info{
  display: flex;
  height: var(--hundred-percent);
  width: var(--hundred-percent);
}
.section-tittle{
  flex: 1 0 20%;
  border-right: solid;
  text-align: right;
  padding-right: 1%;
}

.section-info{
  flex: 4 0 80%;
  padding:0 1% 0 1%;
  font-size: 1.5em;
}
/*----------INSIDE WORK SECTION---------*/

.work-examples{
  display: flex;
  flex-wrap: wrap;
  width: var(--hundred-percent);
  height: var(--hundred-percent);
}
.main-exp{
  width:var(--hundred-percent);
  border: solid;
  padding-bottom: 1%;
}
.secondary-exp{
 width: 50%;
 border-color: var(--color-mostly-used);
 border: solid;
}


