<header >
    <nav class="navbar is-fixed-top custom-nav">
      <div class="container">
        <div class ="navbar-brand">
          <a class="navbar-item" href="/">
            <a class="is-size-2 has-text-white pt-3"><img class="nav-img" id="icon-href"  data-target="home-2" src="Assets/images/logo.png" ></a>
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end custom-nav-menu">
            <a href="#home" data-target="home" class="navbar-item navbar-mod">Home</a>
            <a href="#aboutme" data-target="about" class="navbar-item navbar-mod">About Me</a>
            <a href="#examples"  data-target="work-examples" class="navbar-item">Work</a>
            <a href="../Assets/Docs/DanielSoledadResume.pdf" class="navbar-item">Resume</a>
          </div>
        </div>  
      </div>
    </nav>        
  </header>