<section class="hero is-fullheight pb-6 hide" id="aboutme">
      <div class="section columns is-tablet about-me-div">
        <div class="column">
          <div class="is-flex is-justify-content-center">
            <img class="" src="Assets/images/me.png">
          </div>
        </div>
        <div class="column is-two-thirds-desktop has-text-white has-text-centered-mobile is-flex is-flex-direction-column is-justify-content-center">
          <h1  class="is-size-4 ">About Me</h1>
          <p class="is-size-5 pb-5">
            Hello my name is Daniel. I'm a Fullstack Development student at the University of Washington. The art of Coding has brought me so much joy in so many ways. I love to explore, create, and challenge myself to learn new techniques. Please don't hesitate to reach out to me if you have any questions; I am always eager to talk shop. Let's code!!!
          </p>
          <div class="has-text-centered has-text-danger">
            <i class="fab fa-js fa-lg pr-1"> </i>
            <i class="pr-1">MySql</i>
            <i class="fab fa-node fa-lg pr-1"> </i>
            <i class="pr-1">Sequelize</i>
            <i class="fab fa-npm fa-lg pr-1"> </i>
            <i class="fab fa-css3-alt fa-lg pr-1"> </i>
            <i class="pr-1">express</i>
          </div>  
        </div>
        
      </div>
  </section>