    <section class="hero is-fullheight" id="home">
        <div class="section columns home-div">
          <div class="column has-text-white has-text-centered">
            <h1  class="is-size-3-mobile is-size-1-tablet css-typing">
              <p>Hello</p>
              <p>I'm</p>
              <p><span class="letter">D</span>aniel <span class="letter">S</span>oledad</p>
              <p class="is-size-5 text4">
                Fullstack Developer
              </p>
            </h1>
          </div>
        </div>
    </section>