  <section class="hero is-fullheight hide pt-2 pb-6" id="work">
    <div class="container">
      <div id="firstblock" class="section columns is-mobile is-multiline">
      </div>
    </div>
</section>